.container {
    display: flex;
    width: auto;
    height: 160px;
    align-items: flex-end;
    background-color: aquamarine;
}

.column {
    position: absolute; 
    width: 50px;
    text-align: center;
    color: azure;
    font-weight: bold;
    transition: left 500ms;
    transition-timing-function: ease;
    background-color: red;
}
.columnSort{
    background-color: blue !important;
}