:root{
    --widthRows:50px;
}
.container {
    position:fixed;
    padding-bottom: 20px;
    width: 500px;
    height:160px;
    overflow: scroll;
    justify-content: flex-start;
    background-color: aquamarine;
}
.colums-container {
    display:flex;
    align-items: flex-end;
    height:120px; 
}
.colums-container div {
    background-color: red;
    margin-left:1px;
    width: var(--widthRows);
    margin-right: 1px;
    flex: 0 0 auto;
    background: red;
    border:1px solid blue;
}
span {
    position:absolute;
    bottom:0px;
    display: block;
    text-align: center;
    width: var(--widthRows);
    margin-bottom:10px;
    word-wrap: break-word;
}